{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <h2>Create Todolist</h2>
    <form action="/todos/create" method="post">
        <input type="text" id="todo" name="todo">
        <input type="submit" value="create TODO">
    </form>
    {{ if .Todos}}
    <ul>
        {{ range .Todos}}
            <li>{{.}}</li>
        {{ end }}
    </ul>
    {{ end }}
{{end}}